<!DOCTYPE html>
<html lang="en">

<head>
	<title>Cupones CástorRetail</title>
	<title></title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="CástorRetail">
	<meta name="author" content="AQS">

	<!-- Insert this line above script imports  ELECTRON -->
	<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

	<script src="./node_modules/jquery/dist/jquery.min.js"></script>
	<script src="./node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
	<script src="./node_modules/cldrpluralruleparser/src/CLDRPluralRuleParser.js"></script>

	<!-- Source -->
	<script src="./common/lang/src/jquery.i18n.js"></script>
	<script src="./common/lang/src/jquery.i18n.messagestore.js"></script>
	<!-- Js -->
	<script src="./common/js/lang.js"></script>
	<script src="js/cupones.js"></script>
	<!-- js específico -->
	<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Insert this line after script imports ELECTRON -->
	<script>if (window.module) module = window.module;</script>

	<!-- CSS -->
	<link rel="stylesheet" href="./common/css/main.css">
	<!-- css genérico -->
	<link rel="stylesheet" href="css/cupones.css">
	<!-- css específico -->
	<!-- <link rel="shortcut icon" href="images/aqs_favicon.png"> -->
	<!-- LIBRERIA Bootstrap -->
	<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">


</head>


<body>
	<h1 class="page-title" data-i18n="vouchers">Cupones</h1>

	<section class="section1">

		<div class="menu-izq">

			<ul class="nav nav-tabs">
				<li class="active">
					<a data-toggle="tab" href="#home" class="bienvenida"></a>
				</li>

				<li>
					<a data-toggle="tab" href="#nuevo-cupon" class="nuevo-cupon" data-i18n="create_new_vouchers">Crear un nuevo cupón</a>
				</li>

				<li>
					<a data-toggle="tab" href="#gestionar-movimientos-cupon" class="gestionar-cupones" data-i18n="view_manage_vouchers">Ver o gestionar cupones</a>
				</li>
				<!--cambiar id a #gestionar-cupones para ver el inicio-->
				<!--cambiar id a #resultados-buscar-cupones para ver la pantalla de resultado de búsqueda-->
				<!--cambiar id a #gestionar-movimientos-cupon para ver la pantalla de movimientos-->

				<li>
					<a data-toggle="tab" href="#importar-cupones" class="importar-cupones" data-i18n="import_vouchers">Importar cupones</a>
				</li>
			</ul>

			<button class="btn exit" data-i18n="exit">Salir</button>

		</div>

		<div class="tab-content ">

			<div id="home" class="tab-pane fade in active">
				<h1 data-i18n="msg1_voucher_what_would_you_like_to_do">¿Qué quieres hacer?</h1>
				<p data-i18n="msg2_voucher_choose">Elige si quieres crear un cupón, buscar entre todos los cupones y añadir movimientos o importar un excel de cupones</p>
			</div>

			<!-- CREAR UN NUEVO CUPÓN -->
			<div id="nuevo-cupon" class="tab-pane fade">

				<div class="datosclientes seccion col-xs-12">
					<!-- <div id="customer-information-form" class="col-xs-12 col-xs-6">

						<h3 data-i18n="client_data">Información de cliente</h3>

						<span class="col-xs-12 input">
							<input data-i18n="[placeholder]name_and_surname" placeholder="Nombre y Apellidos" type="text" name="name">
						</span>
						<span class="col-xs-12 input">
							<input data-i18n="[placeholder]dni" placeholder="DNI" type="text" name="dni" required>
						</span>

						<button type="#" class="btn search" data-i18n="search">Buscar</button>

					</div> -->
					<script id="customer-information-form-template" type="text/html">
						<form>
							<h3 data-i18n="client_data">Información de cliente</h3>				
							<span class="col-xs-12 input" data-fields="name"></span>
							<span class="col-xs-12 input" data-fields="dni"></span>

							<button type="#" class="btn search" data-i18n="search">Buscar</button>
						</form>
					</script>
					<div id="customer-information-form-placeholder" class="col-xs-12 col-xs-6">
					</div>

					<div id='selected-customer-placeholder'>

					</div>

					<script id="customer-template" type="text/x-handlebars-template">
						<!-- estos datos aparecen cuando cargo busco un cliente -->
						<div id="customer-container">
							<div class="avatar">
								<img src="images/user.jpg" width="100px">
							</div>
							<h4>{{name}} {{surname}}</h4>
							<span class="email" data-i18n="email">
								<strong>Email:</strong>{{email}}</span>
							<span class="phone" data-i18n="phone">
								<strong>Teléfono: </strong>{{phone}}</span>
							<span class="address" data-i18n="address">
								<strong>Dirección: </strong>{{address}}</span>
						</div>
						<button type="#" class="btn edit" data-i18n="edit">Editar</button>
					</script>

				</div>

				<div id="voucher-details-form" class="datosdecupon seccion col-xs-12">
					<h3 data-i18n="voucher_data">Datos del cupón</h3>

					<span class="col-xs-12 col-xs-6 input">
						<input data-i18n="[placeholder]barcode" placeholder="Código de barras*" type="text" name="voucherBarcode" required>
					</span>
					<span class="col-xs-12 col-xs-6 input">
						<input data-i18n="[placeholder]voucher_value" placeholder="Importe del cupón" type="text" name="voucherAmount">
					</span>
					<span class="col-xs-12 col-xs-6 input">
						<input data-i18n="[placeholder]expiration_date" placeholder="Fecha de caducidad" type="text" name="voucherExpirationDate">
					</span>
					<span class="col-xs-12 col-xs-6 input">
						<input data-i18n="[placeholder]type_voucher" placeholder="Tipo de cupón" type="text" name="voucherType">
					</span>
				</div>

				<div class="buttons">
					<button type="#" class="btn add crear-cupon" data-i18n="create_voucher">Crear cupón</button>
					<button type="#" class="btn cancel" data-i18n="clean_form">Limpiar formulario</button>
				</div>

			</div>
			<!-- fin nuevo cupon -->
			<!-- Modal for customer list-->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" id="myModalScroll" role="document">
					<div class="modal-content">
						<img src="./images/ajax-loader.gif" id="loading-indicator" style="display:none" />
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" data-i18n="customer_list">Customer list</h4>
						</div>
						<div class="modal-body">
							<div id='customer-information-list-placeholder'>

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

			<!-- PANTALLAS GESTIÓN CUPONES -->

			<!-- 1  gestionar cupones -->
			<div id="gestionar-cupones" class="tab-pane fade busqueda">

				<div class="datosclientes seccion col-xs-12">

					<div id="search-by-customer-form" class="col-xs-12 col-xs-6">
						<h3 data-i18n="search_for_client">Buscar por cliente</h3>

						<span class="col-xs-12 input">
							<input data-i18n="[placeholder]name_and_surname" placeholder="Nombre y Apellidos" type="text" name="#">
						</span>
						<span class="col-xs-12 input">
							<input data-i18n="[placeholder]dni" placeholder="DNI*" type="text" name="#" required>
						</span>

						<button type="#" class="btn search" data-i18n="search">Buscar</button>

					</div>

					<div id='selected-customer-manage-vouchers-placeholder'>
					</div>
				</div>

				<div id="voucher-details-manage-vouchers-form" class="datosdecupon seccion col-xs-12">
					<h3 data-i18n="search_by_voucher">Buscar por cupón</h3>

					<span class="col-xs-12 col-xs-6 input">
						<input data-i18n="[placeholder]barcode" placeholder="Código de barras*" type="text" name="voucherBarcode" required>
					</span>
					<span class="col-xs-12 col-xs-6 input">
						<input data-i18n="[placeholder]init_date" placeholder="Fecha de inicio" type="text" name="voucherAmount">
					</span>
					<span class="col-xs-12 col-xs-6 input">
						<input data-i18n="[placeholder]expiration_date" placeholder="Fecha de caducidad" type="text" name="voucherExpirationDate">
					</span>
					<span class="col-xs-12 col-xs-6 input">
						<input data-i18n="[placeholder]type_voucher" placeholder="Tipo de cupón" type="text" name="voucherType">
					</span>

				</div>

				<div class="buttons">
					<button type="#" class="btn search btn-important" data-i18n="search_voucher">Buscar cupón</button>
					<button type="#" class="btn cancel" data-i18n="clean_form">Limpiar formulario</button>
				</div>

			</div>
			<!-- Fin gestionar cupones ---->


			<!-- 2  Resultados búsqueda de cupones -->
			<div id="resultados-buscar-cupones" class="tab-pane fade resultados-busqueda">

				<div class="filtros col-xs-12">
					<div class="col-xs-12 col-xs-6">
						<div class="col-xs-12 col-xs-6">
							<select name="order" class="ordenar">
								<option value="" disabled selected>Ordernar por:</option>
								<option value="voucherName">Nombre</option>
								<option value="barcode">Código de barras</option>
								<option value="importe-menor-mayor">Importe de menor a mayor</option>
								<option value="importe-mayor-menor">Importe de mayor a menor</option>
								<option value="expirationDate">Fecha de caducidad</option>
								<option value="creationDate">Fecha de creación</option>
							</select>
						</div>

						<div class="col-xs-12 col-xs-6">
							<select name="order" class="filtrar">
								<option value="" disabled selected>Filtrar por</option>
								<option value="todos">Todos</option>
								<option value="activos">Activos</option>
								<option value="desactivados">No activos</option>
								<option value="caducados">Caducados</option>
								<option value="consumidos">Consumidos</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 col-xs-6 modo vista">

						<span class="leyenda">
							<span class="cupones-activos" data-i18n="active_voucher">Cupones activos</span>
							<span class="cupones-noactivos" data-i18n="no_active_voucher">Cupones no activos</span>
						</span>
						<br/>
						<span class="nresultados">85 cupones</span> | Vista:
						<a class="expanded active" href="#">Expanded</a>
						<a class="compressed" href="#">Compressed</a>
					</div>
				</div>


				<div class="col-xs-12 col-xs-6 todos-cupones">
					<div class="lista-cupones">
						<ul id="voucher-list-placeholder">

							<script id="voucher-template" type="text/x-handlebars-template">
								<h3 class="nombre-cupon" id="nombre-cupon">{{voucherName}}</h3>
								<span class="codigo-barras">{{barcode}}</span>
								<span class="fecha-caducidad">
									<strong data-i18n="expiration">Caducidad:</strong> {{formatDate expirationDate}}</span>
								<span class="nombre-cliente">
									<strong data-i18n="client">Cliente:</strong> {{customerName}}</span>
								<span class="importe-actual" data-i18n="actual_amount">Importe actual
									<span class="number">{{currentAmount}}€</span>
								</span>
							</script>

							<!-- <li class="cupon">
								<h3 class="nombre-cupon" id="nombre-cupon">Nombre cupón</h3>
								<span class="codigo-barras">84700701979</span>
								<span class="fecha-caducidad">
									<strong>Caducidad:</strong> 25/01/2018</span>
								<span class="nombre-cliente">
									<strong>Cliente:</strong> Lara Laguna Dader</span>
								<span class="importe-actual">Importe actual
									<span class="number">10€</span>
								</span>
							</li> -->


						</ul>
					</div>
				</div>

				<div class="info-cupon col-xs-12 col-xs-6">

					<div class="intro">
						<p data-i18n="msg3_voucher_select_voucher_for_view_data">Selecciona un cupón para ver toda la información y gestionar sus movimientos</p>
					</div>

					<div id="voucher-detail-placeholder" class="info hidden">

						<script id="voucher-detail-template" type="text/x-handlebars-template">
							<span class="codigo-barras">{{barcode}}</span>

							<h3 class="nombre-cupon" id="nombre-cupon">{{voucherName}}</h3>

							<span class="nombre-cliente">{{customerName}}</span>
							<span class="fecha-creacion">
								<strong data-i18n="create_date">Fecha de creación:</strong> {{formatDate creationDate}}</span>
							<span class="fecha-caducidad">
								<strong data-i18n="expired_date">Fecha de caducidad:</strong> {{formatDate expirationDate}}</span>

							<span class="importe-inicial">
								<strong data-i18n="init_amount">Importe inicial:</strong> {{initialAmount}}€</span>
							<span class="importe-actual">
								<strong data-i18n="actual_amount">Importe actual:</strong> {{currentAmount}}€</span>
							<span class="importe-restante">
								<strong data-i18n="remaining_amount">Importe restante:</strong> {{currentAmount}}€</span>

							<span class="estado">
								<strong data-i18n="state">ESTADO:</strong> {{renderActive active}} </span>
						</script>


						<button type="#" class="btn gestionar-movimientos" data-i18n="manage_movements">Gestionar movimientos</button>
					</div>
				</div>

				<div class="buttons">
					<button type="#" class="btn activar-cupon no-icon" data-i18n="active_voucher">Activar cupón</button>
					<button type="#" class="btn desactivar-cupon no-icon" data-i18n="disable_voucher">Desactivar cupón</button>
					<button type="#" class="btn export" data-i18n="export_vouchers">Exportar cupones</button>
					<button type="#" class="btn cancel" data-i18n="cancel">Cancelar</button>
				</div>

			</div>
			<!-- Fin resultados búsqueda de cupones -->


			<!-- 3  Gestionar movimientos de un cupón -->
			<div id="gestionar-movimientos-cupon" class="tab-pane fade gestionar-movimientos">

				<div class="filtros col-xs-12">
					<div class="col-xs-12 col-xs-6">
						<div class="col-xs-12 col-xs-6">
							<select name="order" class="ordenar">
								<option value="" disabled selected>Ordernar por:</option>
								<option value="nombre">Nombre</option>
								<option value="codigo-de-barras">Referencia</option>
								<option value="importe-menor-mayor">Fecha</option>
								<option value="importe-mayor-menos">Cantidad</option>
								<option value="fecha-de-caducidad">Tipo</option>

							</select>
						</div>

					</div>

				</div>

				<div class="datos-cupon col-xs-12">
					<div class="datos">
						<h2 data-i18n="msg4_manage_movements">Gestionar movimientos del cupón
							<strong>847007019794</strong>
						</h2>
						<h3>Nombre del cupón</h3>
						<h4>Lara Laguna Dader</h4>
					</div>
					<div class="info">

						<span class="fecha-creacion">
							<strong data-i18n="init_date">Fecha de creación:</strong> 10/12/2017</span>
						<span class="fecha-caducidad">
							<strong data-i18n="expire_date">Fecha de caducidad:</strong> 25/01/2018</span>
						<span class="importe-inicial">
							<strong data-i18n="init_amount">Importe inicial:</strong> 20€</span>
						<span class="importe-actual">
							<strong data-i18n="actual_amount">Importe actual:</strong> 10€</span>
						<span class="importe-restante">
							<strong data-i18n="remaining_amount">Importe restante:</strong> 10€</span>

					</div>

				</div>


				<div class="col-xs-12 col-xs-6 todos-movimientos">
					<div class="lista-movimientos">
						<ul id="voucher-movement-list-placeholder">
							<script id="voucher-movement-template" type="text/x-handlebars-template">
								<h3 class="nombre-movimiento" id="nombre-movimiento">{{movementName}}</h3>
								<span class="dato-movimiento">
									<span class="number">{{movementAmount}}€</span>
								</span>
							</script>
							<li class="movimiento">
								<h3 class="nombre-movimiento" id="nombre-movimiento">Movimiento 1</h3>
								<span class="dato-movimiento">
									<span class="number">-5€</span>
								</span>
							</li>
							<li class="movimiento">
								<h3 class="nombre-movimiento" id="nombre-movimiento">Movimiento 1</h3>
								<span class="dato-movimiento">
									<span class="number">-5€</span>
								</span>
							</li>
							<li class="movimiento">
								<h3 class="nombre-movimiento" id="nombre-movimiento">Movimiento 1</h3>
								<span class="dato-movimiento">
									<span class="number">-5€</span>
								</span>
							</li>
							<li class="movimiento">
								<h3 class="nombre-movimiento" id="nombre-movimiento">Movimiento 1</h3>
								<span class="dato-movimiento">
									<span class="number">-5€</span>
								</span>
							</li>
							<li class="movimiento">
								<h3 class="nombre-movimiento" id="nombre-movimiento">Movimiento 1</h3>
								<span class="dato-movimiento">
									<span class="number">-5€</span>
								</span>
							</li>
							<li class="movimiento">
								<h3 class="nombre-movimiento" id="nombre-movimiento">Movimiento 1</h3>
								<span class="dato-movimiento">
									<span class="number">-5€</span>
								</span>
							</li>
							<li class="movimiento">
								<h3 class="nombre-movimiento" id="nombre-movimiento">Movimiento 1</h3>
								<span class="dato-movimiento">
									<span class="number">-5€</span>
								</span>
							</li>
							<li class="movimiento">
								<h3 class="nombre-movimiento" id="nombre-movimiento">Movimiento 1</h3>
								<span class="dato-movimiento">
									<span class="number">-5€</span>
								</span>
							</li>
							<li class="movimiento">
								<h3 class="nombre-movimiento" id="nombre-movimiento">Movimiento 1</h3>
								<span class="dato-movimiento">
									<span class="number">-5€</span>
								</span>
							</li>
							<li class="movimiento">
								<h3 class="nombre-movimiento" id="nombre-movimiento">Movimiento 1</h3>
								<span class="dato-movimiento">
									<span class="number">-5€</span>
								</span>
							</li>

						</ul>


					</div>
				</div>

				<div class="info-cupon info-movimiento col-xs-12 col-xs-6">

					<div class="intro">
						<p data-i18n="msg5_select_movement">Selecciona un movimiento para ver toda la información</p>
					</div>

					<div id="voucher-movement-detail-placeholder" class="info hidden">

						<script id="voucher-movement-detail-template" type="text/x-handlebars-template">
							<h3 class="nombre-movimiento" id="#">Movimiento 1</h3>
	
							<span class="tienda">
								<strong data-i18n="store">Tienda:</strong> {{storeName}} </span>
							<span class="usuario">
								<strong data-i18n="user">Usuario:</strong> {{userName}} </span>
							<span class="ter">
								<strong>Terminal:</strong> {{terminalName}} </span>
							<span class="fecha">
								<strong data-i18n="date">Fecha:</strong> {{formatDate movementDate}} </span>
							<span class="cliente">
								<strong data-i18n="client">Cliente:</strong> {{customerName}} </span>
							<span class="tipo">
								<strong data-i18n="type">Tipo:</strong> {{movementType}} </span>
							<span class="cantidad">
								<strong data-i18n="quantity">Cantidad:</strong> {{movementQuantity}} </span>
							<span class="importe">
								<strong data-i18n="amount">Importe:</strong> {{movementAmount}} </span>
							<span class="observaciones">
								<strong data-i18n="comments">Observaciones:</strong> {{comments}} </span>
						</script>

					</div>

					<div class="nuevo-movimiento hidden">

						<h3 data-i18n="new_movement">Nuevo movimiento</h3>

						<span class="col-xs-12 input">
							<input placeholder="Referencia" type="text" name="#">
						</span>
						<span class="col-xs-12  input">
							<input class="cliente" placeholder="Cliente" type="text" name="#">
							<button type="#" class="btn search buscarcliente"></button>
						</span>
						<span class="col-xs-12 input">
							<input placeholder="Importe / Cantidad" type="text" name="#">
						</span>
						<span class="col-xs-12 input">
							<textarea name="observaciones" placeholder="Observaciones"></textarea>
						</span>

						<button type="#" class="btn btn-important save col-xs-12 col-xs-6" data-i18n="save">Guardar</button>
						<button type="#" data-i18n="cancel" class="btn cancel col-xs-12 col-xs-6">Cancelar</button>

					</div>



				</div>


				<div class="buttons">
					<button type="#" class="btn add nuevo-mov" data-i18n="new_movement">Nuevo movimiento</button>
					<button type="#" class="btn export" data-i18n="export_movement">Exportar movimientos</button>
					<button type="#" class="btn cancel" data-i18n="cancel">Cancelar</button>
				</div>

			</div>
			<!-- fin gestionar movimientos de un cupón -->


			<!--  FIN PANTALLAS GESTIÓN CUPONES -->


			<!-- Importar cupones -->

			<div id="importar-cupones" class="tab-pane fade">

				<div class="importar seccion col-xs-12">

					<h3 data-i18n="msg6_voucher_import_file">Carga o arrastra tu fichero</h3>
					<br/>

					<form>
						<div class="col-xs-12 col-xs-6">
							<label for="file" data-i18n="msg7_voucher_choose_file">Elige tu archivo para importar</label>
							<input type="file" id="file" name="file">
						</div>
						<div class="col-xs-12 col-xs-6">
							<button class="btn import pull-right" data-i18n="import">Importar</button>
						</div>
					</form>

					<!--  añadir un drag and drop para cargar archivo-->

					<div class="col-xs-12 seccion seccion-draggable">


					</div>

				</div>

			</div>

			<!-- fin importar cupones -->

		</div>

	</section>

	<!-- libs -->
	<script src="./node_modules/underscore/underscore-min.js"></script>
	<script src="./node_modules/backbone/backbone-min.js"></script>
	<script src="./node_modules/backbone-forms/distribution/backbone-forms.min.js"></script>
	<script src="./node_modules/backbone.paginator/dist/backbone.paginator.js"></script>
	<script src="./node_modules/handlebars/dist/handlebars.min.js"></script>
	<script src="./node_modules/moment/min/moment.min.js"></script>
	<script src="./node_modules/moment/locale/es.js"></script>
	<!-- models -->
	<script src="js/models/customer-model.js"></script>
	<script src="js/models/voucher-model.js"></script>
	<script src="js/models/voucher-movement.js"></script>
	<!-- collections -->
	<script src="js/collections/customer-collection.js"></script>
	<script src="js/collections/voucher-collection.js"></script>
	<script src="js/collections/voucher-movement-collection.js"></script>
	<script src="js/collections/customer-pageable-collection.js"></script>
	<!-- views -->
	<script src="js/views/customer/customer-view.js"></script>
	<script src="js/views/voucher/voucher-view.js"></script>
	<script src="js/views/customer/selected-customer-view.js"></script>
	<script src="js/views/customer/customer-list-view.js"></script>
	<script src="js/views/voucher/voucher-list-view.js"></script>
	<script src="js/views/customer/customer-search-view.js"></script>
	<script src="js/views/customer/customer-information-form.js"></script>
	<script src="js/views/voucher/voucher-details-view.js"></script>
	<script src="js/views/voucher/voucher-detail-view.js"></script>
	<script src="js/views/voucher-movement/voucher-movement-view.js"></script>
	<script src="js/views/voucher-movement/voucher-movement-detail-view.js"></script>
	<script src="js/views/voucher-movement/voucher-movement-list-view.js"></script>
	<script src="js/views/create-voucher-view.js"></script>
	<script src="js/views/manage-voucher-view.js"></script>
	<script src="js/views/voucher-results-view.js"></script>
	<script src="js/views/voucher-movement-results-view.js"></script>
	<!-- entry point -->
	<script src="js/main.js"></script>
</body>

</html>