@charset "UTF-8";
/*--------------------------------------------------------------
>>> variables
--------------------------------------------------------------*/
/*---------------------------------------
------------------COLORES------------
------------------------------------------ */
/** tablas **/
/*--------------------------------------------------------------
>>> base
--------------------------------------------------------------*/
/** tipografías**/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Patrick+Hand");
/***  base **/
body {
  font-family: "Noto Sans", sans-serif !important;
  color: #333 !important; }

h1 {
  font-size: 25px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 18px !important;
  font-weight: 600 !important;
  margin-top: 0 !important; }

#intro h1 {
  font-size: 45px; }
  @media screen and (max-width: 640px) {
    #intro h1 {
      font-size: 25px; } }

.container {
  width: 100% !important;
  max-width: 1024px !important; }

.page-title {
  padding: 15px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  background-color: #304556;
  display: block;
  width: 100%;
  float: left;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 16px;
  text-transform: uppercase; }

.title {
  padding: 10px;
  text-align: left;
  color: #fff;
  font-weight: 300;
  background-color: #00A0D3;
  display: block;
  width: 100%;
  float: left;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 14px; }

section {
  width: 100%;
  display: block;
  overflow: hidden; }

/**********************		 mobile 		****************************/
@media screen and (max-width: 700px) {
  body {
    margin-bottom: 15px;
    display: block; } }

/*--------------------------------------------------------------
>>> components
--------------------------------------------------------------*/
button, .btn, .boton,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 15px 25px !important;
  display: inline-block;
  background-color: #9AA8B5;
  color: #fff !important;
  font-weight: 400;
  border-radius: 0 !important;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0px auto !important;
  display: block;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: button-bevel;
  -webkit-transition: all 0.35s linear;
  -o-transition: all 0.35s linear;
  transition: all 0.35s linear; }

.btn:hover {
  background-color: #304556 !important; }

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
  background-color: #d6d6d6; }

.btn-important {
  background-color: #304556 !important; }

.btn {
  background-repeat: no-repeat !important;
  background-size: 25px;
  font-size: 14px;
  padding: 15px 15px 15px 50px !important;
  width: auto;
  height: auto;
  background-position: 12px 11px; }
  .btn.add {
    background-color: #006df0;
    background-image: url("../images/add.svg") !important; }
  .btn.save {
    background-color: #006df0;
    background-image: url("../images/save.svg") !important; }
  .btn.save.saved {
    background-color: #6cd678 !important;
    background-image: url("../images/check.svg") !important;
    background-position: center;
    color: transparent !important; }
  .btn.edit {
    background-image: url("../images/edit.svg") !important;
    background-color: #E2B127; }
  .btn.search {
    background-image: url("../images/search.svg") !important; }
  .btn.export {
    background-image: url("../images/export.svg") !important;
    background-position: 12px 6px; }
  .btn.import {
    background-image: url("../images/import.svg") !important;
    background-position: 12px 6px; }
  .btn.exit {
    background-image: url("../images/exit.svg") !important;
    background-position: 12px 6px; }
  .btn.accept {
    background-image: url("../images/check.svg") !important;
    background-position: 11px;
    background-color: #34A9AB; }
  .btn.cancel {
    background-image: url("../images/close.svg") !important;
    background-position: 11px; }
  .btn.no-icon {
    background-image: none !important;
    padding: 15px !important; }

/** form **/
input[type="text"], input[type="email"], input[type="url"], input[type="tel"],
input[type="password"], input[type="search"], select, input[type="date"], .time, textarea {
  background-color: transparent;
  border-radius: 0 !important;
  border: 1px solid #ccc;
  color: #333;
  padding: 10px;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  display: inline-block;
  font-size: 12px !important;
  width: 100%; }

label {
  padding: 0 !important;
  font-size: 12px;
  font-weight: 300; }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="tel"]:focus, input[type="password"]:focus, input[type="search"]:focus, select:focus,
textarea:focus {
  background-color: #fff;
  border-color: #333;
  color: #333;
  outline: 0;
  border: 1px solid #ccc !important;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }

/*checkbox*/
input[type="checkbox"]:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 3px;
  opacity: 0;
  width: 10px;
  height: 10px;
  display: block;
  background-image: url(../images/check-black.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  -webkit-transition: all 0.35s linear;
  -o-transition: all 0.35s linear;
  transition: all 0.35s linear; }

input[type="checkbox"]:checked:before {
  opacity: 1; }

input[type="checkbox"] {
  opacity: 1;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: text-bottom;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 0;
  margin-top: -25px;
  position: relative;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 0 !important; }

/**/
/** ventanas modales ***/
.modal-dialog {
  width: 95%;
  max-width: 1000px;
  margin-top: 50px; }

.modal-backdrop {
  background-color: #00A0D1; }

.modal {
  text-align: left !important; }

.modal h2 {
  margin-bottom: 20px; }

.modal iframe {
  width: 100%;
  height: 420px !important;
  margin-bottom: 20px; }

.modal-header {
  padding: 20px 20px 0;
  border-bottom: 0px;
  min-height: 50px; }

.modal .close {
  margin-top: 0 !important;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  padding: 10px;
  color: #fff;
  opacity: 1;
  background-color: #00A0D1;
  font-weight: 100; }

.modal-content {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 0 !important;
  border-radius: 0px !important;
  float: left; }

.modal-body {
  position: relative;
  padding: 0 20px 20px; }

/*** ventana modal para errores **/
div.msg-body {
  background-color: rgba(0, 160, 211, 0.73);
  position: fixed;
  top: 0vh;
  left: 0%;
  padding: 50px;
  width: 100%;
  height: 100vh;
  z-index: 99;
  display: none; }
  div.msg-body .info {
    background-color: #fff;
    position: fixed;
    top: 25vh;
    left: 25%;
    padding: 50px;
    width: 50%;
    border: 1px solid #00A0D3;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-line-pack: center;
    align-content: center; }
  div.msg-body h3 {
    text-align: left; }
  div.msg-body .close {
    background-image: url("../images/close-black.svg") !important;
    width: 50px;
    height: 50px;
    display: block;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding: 0px;
    position: absolute;
    right: 0;
    top: 0; }

table {
  margin: 10px 0 10px 0;
  width: 100%;
  border: 0px;
  background-color: #f2f2f2 !important; }

table tr:nth-child(even) {
  background-color: #dbdbdb; }

table td, table th {
  padding: 5px 10px !important;
  border: 1px solid #fff;
  font-size: 12px; }

table th {
  color: #fff;
  background-color: #729AB7;
  padding: 10px !important;
  font-weight: 300; }

.nav-tabs > li {
  display: inline-block;
  vertical-align: top;
  width: 25%; }
  .nav-tabs > li a {
    margin-right: 0;
    line-height: normal;
    border: 0px solid transparent !important;
    border-radius: 0px;
    padding: 10px !important;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    background-color: #00A0D3;
    color: #fff !important;
    margin-bottom: 0px;
    position: relative;
    opacity: 1;
    position: relative;
    border-left: 1px solid #fff !important; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #304556 !important; }

/*** menu  **/
.menu .nav-tabs > li {
  display: inline-block;
  vertical-align: top;
  margin-right: 0px;
  width: 33.33%; }

.menu .nav-tabs > li > a {
  margin-right: 0;
  line-height: normal;
  border: 0px solid transparent !important;
  border-radius: 0px;
  padding: 20px !important;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  background-color: #00A0D3;
  color: #fff !important;
  margin-bottom: 0px;
  position: relative;
  opacity: 0.5;
  position: relative; }
  @media screen and (max-width: 640px) {
    .menu .nav-tabs > li > a {
      font-size: 11px;
      padding: 10px !important;
      text-align: center;
      height: 92px; }
      .menu .nav-tabs > li > a:before {
        display: block !important;
        margin: 5px auto 10px !important; } }

.menu .nav-tabs > li.active > a {
  opacity: 1; }

.menu .nav-tabs > li > a:before {
  content: '';
  background-repeat: no-repeat !important;
  background-image: url(../images/store.svg) !important;
  background-size: contain;
  width: 30px;
  height: 30px;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px; }

.menu .nav-tabs > li > a.config:before {
  background-image: url(../images/settings.svg) !important; }

.menu .nav-tabs > li.active > a:after {
  display: block; }

.menu .nav-tabs > li:nth-child(2) a {
  background-color: #00A0D1 !important; }

.menu .nav-tabs > li:nth-child(3) a {
  background-color: #E2B127 !important; }

.menu .nav-tabs > li:nth-child(4) a {
  background-color: #34A9AB !important; }

.menu .nav-tabs > li:nth-child(5) a {
  background-color: #d2775e !important; }

.menu .nav-tabs > li:nth-child(6) a {
  background-color: #7C9DBF !important; }
