/*---------------------------------------
------------------COLORES------------
------------------------------------------ */
/** tablas **/
.page-title {
  margin-bottom: 0px; }

.nav-tabs {
  border-bottom: 0px !important; }

.menu-izq {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  height: calc(100vh - 47px);
  background-color: #f2f2f2; }

.nav-tabs li {
  display: block;
  width: 100%;
  float: left;
  overflow: visible; }

.nav-tabs li a.bienvenida {
  display: none !important; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: 0px !important; }

.tab-content {
  border-bottom: 0px !important;
  display: inline-block;
  width: calc(100% - 204px);
  vertical-align: top;
  height: calc(100vh - 47px);
  padding: 40px 10px 40px 40px;
  position: relative;
  padding-bottom: 70px; }

  #myModal .modal-dialog {
    overflow-y: initial !important
}
  #myModal .modal-body{
    height: 250px;
    overflow-y: auto;
  }

  #loading-indicator {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
  }

  /*** menu izq **/
.menu-izq .nav-tabs > li > a {
  margin-right: 0;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 0px;
  height: 28vh;
  padding: 80px 30px !important;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  background-color: #00A0D3;
  color: #fff !important;
  margin-bottom: 2px;
  position: relative;
  opacity: 0.7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  position: relative; }

.menu-izq .nav-tabs > li.active > a {
  opacity: 1; }

.menu-izq .nav-tabs > li.active > a:after {
  display: block; }

.menu-izq .nav-tabs > li > a:before {
  content: '';
  background-repeat: no-repeat !important;
  background-image: url(../images/addcircle.svg) !important;
  background-size: contain;
  width: 40px;
  height: 40px;
  background-position: center;
  display: block;
  margin: 0 auto 16px; }

.menu-izq .nav-tabs > li > a:after {
  content: '';
  background-repeat: no-repeat !important;
  background-size: contain;
  background-color: #00A0D3;
  width: 40px;
  height: 40px;
  background-position: center;
  display: block;
  margin: 0 auto 16px;
  position: absolute;
  right: -17px;
  top: 56px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: none; }

.menu-izq .nav-tabs > li > a.gestionar-cupones {
  background-color: #E2B127 !important; }

.menu-izq .nav-tabs > li > a.gestionar-cupones:before {
  background-image: url(../images/eye.svg) !important; }

.menu-izq .nav-tabs > li > a.gestionar-cupones:after {
  background-color: #E2B127; }

.menu-izq .nav-tabs > li > a.importar-cupones {
  background-color: #34A9AB !important; }

.menu-izq .nav-tabs > li > a.importar-cupones:before {
  background-image: url(../images/import.svg) !important; }

.menu-izq .nav-tabs > li > a.importar-cupones:after {
  background-color: #34A9AB; }

.menu-izq .nav-tabs > li > a.nuevo-cupon {
  background-color: #00A0D3 !important; }

.btn.exit {
  width: 100%;
  height: 9vh !important;
  display: block;
  width: 100%;
  padding: 15px 75px 15px 50px !important;
  background-position: 125px 20px !important; }

.input {
  margin: 5px 0 10px 0; }

.col-xs-12 {
  padding-left: 0 !important; }

/*** sections ***/
#home p {
  font-size: 18px; }

#home h1 {
  margin-bottom: 25px;
  margin-top: 100px;
  font-weight: 600;
  color: #304556; }

.seccion {
  margin-top: 50px; }

.buttons {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px; }

.cargadatoscliente {
  border-left: 1px solid #e4e4e4;
  padding-left: 25px !important; }

.cargadatoscliente span {
  display: block;
  margin-bottom: 10px; }

.cargadatoscliente h4 {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px; }

.avatar {
  display: inline-block;
  float: left;
  margin: 10px 10px 10px 0; }

.cargadatoscliente .edit {
  width: 30px;
  height: 30px;
  overflow: hidden;
  background-color: #eca8a8;
  font-size: 0px !important;
  background-position: center;
  background-repeat: no-repeat !important;
  background-image: url(../images/edit.svg) !important;
  background-color: #E2B127;
  background-size: 20px;
  padding: 0 !important; }

/*** ver / gestionar ***/
h3 {
  font-weight: 300 !important;
  font-size: 22px !important;
  margin-top: 20px !important; }

.vista {
  text-align: right;
  padding-right: 0 !important; }

.vista a {
  background-image: url(../images/compressed-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain !important;
  background-size: contain !important;
  width: 40px;
  height: 40px;
  display: inline-block;
  font-size: 0px !important;
  vertical-align: middle;
  margin-left: 10px;
  opacity: 0.6; }

.vista a.expanded {
  background-image: url(../images/expanded-view.svg); }

.vista a.active {
  opacity: 1; }

.todos-movimientos,
.todos-cupones {
  width: 60% !important; }

.info-cupon {
  width: 40% !important; }

.info-cupon {
  padding: 20px !important;
  background-color: #f2f2f2;
  height: 65vh;
  overflow-y: auto; }

.info-movimiento {
  height: 50vh; }

.info-cupon span {
  display: block; }

.filtros {
  margin-bottom: 15px;
  padding-right: 0 !important; }

.filtros .filtrar {
  margin-left: 10px !important; }

.lista-movimientos ul,
.lista-cupones ul {
  height: 65vh;
  overflow-y: auto;
  list-style-type: none;
  padding-left: 0;
  margin: 0 !important;
  position: relative;
  float: left;
  width: 100%;
  display: block;
  padding-right: 20px; }

.lista-movimientos ul {
  height: 50vh; }

.lista-movimientos ul li,
.lista-cupones ul li {
  padding: 20px;
  background-color: #f2f2f2;
  margin: 10px 0;
  display: block;
  width: 100%;
  position: relative;
  border: 2px solid #fff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.lista-movimientos ul li:first-child,
.lista-cupones ul li:first-child {
  margin-top: 0; }

.lista-movimientos ul li.active,
.lista-cupones ul li.active {
  border: 2px solid #333;
  background-color: #fff; }

.lista-movimientos ul li.deactivated,
.lista-cupones ul li.deactivated {
  background-color: #eca8a8;
  opacity: 0.6; }

.lista-cupones ul li span {
  display: block;
  width: 100%;
  font-size: 14px; }

.lista-movimientos ul li .dato-movimiento,
.lista-cupones ul li .importe-actual {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  text-align: center;
  height: 100%;
  padding: 25px 5px 5px; }

.lista-movimientos ul li .dato-movimiento {
  padding: 10px 5px 5px; }

.lista-movimientos ul li .dato-movimiento .number,
.lista-cupones ul li .importe-actual .number {
  font-weight: 600;
  font-size: 25px; }

.lista-movimientos ul li h3,
.lista-cupones ul li h3 {
  margin-top: 0 !important;
  font-size: 17px !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  margin-bottom: 0; }

.lista-cupones ul li .codigo-barras {
  margin-bottom: 15px;
  font-weight: 600 !important;
  font-size: 16px !important; }

.lista-cupones ul li.compressed {
  padding: 10px 10px 5px 10px;
  margin: 1px 0; }

.lista-cupones ul li.compressed h3 {
  margin-top: 0 !important;
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  margin-bottom: 0; }

.lista-cupones ul li.compressed .codigo-barras {
  margin-bottom: 0;
  font-size: 14px !important; }

.lista-cupones ul li.compressed .fecha-caducidad,
.lista-cupones ul li.compressed .nombre-cliente {
  display: none; }

.lista-cupones ul li.compressed .importe-actual {
  position: relative;
  right: 0;
  top: 0;
  width: auto;
  text-align: right;
  height: 100%;
  padding: 0;
  font-size: 12px !important;
  float: right;
  margin-top: -32px; }

.lista-cupones ul li.compressed .importe-actual .number {
  font-weight: 600;
  font-size: 15px;
  display: inline;
  vertical-align: middle; }

.leyenda {
  font-size: 11px;
  margin-bottom: -12px;
  display: block;
  margin-top: -15px; }

.leyenda .cupones-activos {
  margin-right: 10px; }

.leyenda .cupones-activos:before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #f2f2f2;
  display: inline-block;
  vertical-align: middle; }

.leyenda .cupones-noactivos:before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #eca8a8;
  display: inline-block;
  vertical-align: middle; }

.leyenda .cupones-noactivos {
  margin-left: 10px; }

.info-cupon .codigo-barras {
  text-align: right;
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 18px; }

.info-cupon h3 {
  font-size: 23px !important;
  font-weight: 600 !important;
  margin-bottom: 5px; }

.info-movimiento h3 {
  margin-bottom: 20px; }

.info-movimiento span {
  display: block;
  margin-bottom: 10px; }

.info-cupon .nombre-cliente {
  font-size: 18px;
  margin-bottom: 40px; }

.info-cupon .importe-inicial, .info-cupon .estado {
  margin-top: 25px; }

.btn.activar-cupon {
  background-color: #34A9AB; }

.btn.desactivar-cupon {
  background-color: #7A1B1B; }

.btn.gestionar-movimientos {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #304556; }

.intro p {
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  padding-top: 80px;
  text-align: center; }

.intro p:before {
  content: '';
  width: 80px;
  height: 80px;
  background-image: url(../images/arrow.svg);
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  vertical-align: middle; }

/*** gest movimientos **/
.gestionar-movimientos .datos-cupon h2 {
  font-size: 18px;
  margin-top: 0; }

.gestionar-movimientos .datos-cupon h3 {
  font-weight: 600 !important;
  margin-top: 12px !important;
  font-size: 25px !important;
  margin-bottom: -5px; }

.gestionar-movimientos .datos-cupon h4 {
  font-size: 15px; }

.gestionar-movimientos .datos-cupon .info {
  display: inline-block;
  width: 220px;
  vertical-align: top;
  text-align: right;
  font-size: 12px; }

.gestionar-movimientos .datos-cupon .info span {
  display: block;
  width: 100%; }

.gestionar-movimientos .datos-cupon {
  margin-bottom: 25px; }

.gestionar-movimientos .datos-cupon .datos {
  display: inline-block;
  width: calc(100% - 224px);
  vertical-align: top; }

.nuevo-movimiento h3 {
  margin-top: 0 !important;
  font-size: 16px !important; }

.nuevo-movimiento .col-xs-12 {
  padding-right: 0 !important; }

.nuevo-movimiento .col-xs-12.btn {
  border: 1px solid #f2f2f2; }

.nuevo-movimiento .btn.cancel, .nuevo-movimiento .btn.save {
  background-image: none !important; }

.close.mobile {
  display: none !important; }

input.cliente {
  width: calc(100% - 43px);
  display: inline-block;
  vertical-align: top; }

.btn.buscarcliente {
  width: 40px;
  height: 40px;
  overflow: hidden;
  font-size: 0px !important;
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 20px;
  padding: 0 !important;
  display: inline-block;
  vertical-align: top;
  margin-right: -2px !important; }

/*** importar cupones ******/
.seccion-draggable {
  height: 48vh;
  background-color: #ececec;
  background-repeat: no-repeat !important;
  background-image: url("../images/import.svg") !important;
  background-size: 150px;
  background-position: center; }

@media screen and (max-width: 700px) {
  .tab-content {
    width: 100%;
    display: block;
    padding: 20px; }
  .menu-izq {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    height: auto; }
  .nav-tabs li {
    display: block;
    width: 33.33%;
    float: left;
    overflow: visible; }
  .menu-izq .nav-tabs > li > a {
    margin-right: 0;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 0px;
    height: 50px;
    padding: 10px !important;
    font-size: 0px;
    font-weight: 300; }
  .menu-izq .nav-tabs > li > a:before {
    width: 30px;
    height: 30px;
    background-position: center;
    display: block;
    margin: 0 auto; }
  .btn.exit {
    width: 100%;
    height: 47px !important;
    display: inline-block;
    width: 50px !important;
    padding: 0px !important;
    background-position: center !important;
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 0px; }
  .menu-izq .nav-tabs > li > a:after {
    background-repeat: no-repeat !important;
    background-size: contain;
    width: 10px;
    height: 10px;
    background-position: center;
    display: block;
    margin: 0 auto 16px;
    position: absolute;
    right: auto;
    top: 45px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: none;
    left: calc(50% - 5px);
    z-index: 0; }
  .col-xs-6 {
    width: 100% !important; }
  .col-xs-12 {
    padding-right: 0px !important; }
  .buttons {
    position: relative;
    width: 100%;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-right: 0;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 100%;
    float: left; }
  .buttons .btn {
    display: block;
    width: 100%;
    margin-bottom: 1px !important;
    margin-right: 0px !important;
    font-size: 13px;
    padding: 15px !important; }
  .buttons .btn.activar-cupon, .buttons .btn.desactivar-cupon {
    display: inline-block;
    width: 50%;
    margin-right: -2px !important; }
  #importar-cupones .btn.import {
    float: left !important;
    margin: 10px 0 !important;
    width: 100%;
    padding: 15px !important; }
  .buttons .add {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 50% !important;
    -webkit-box-shadow: 2px 2px 10px #656565;
    box-shadow: 2px 2px 10px #656565;
    z-index: 999;
    width: 50px;
    height: 50px;
    font-size: 0px !important;
    padding: 0 !important; }
  .cargadatoscliente {
    border-left: 0px;
    padding-left: 0px;
    padding: 10px;
    margin-top: 15px;
    background-color: #f2f2f2; }
  .intro {
    display: none; }
  .info-cupon {
    height: auto !important; }
  .lista-movimientos ul, .lista-cupones ul {
    height: auto;
    max-height: 45vh;
    padding-right: 0px; }
  .info-cupon .codigo-barras {
    text-align: left; }
  .filtros .filtrar {
    margin-left: 0 !important;
    margin-top: 10px !important; }
  .leyenda {
    display: none; }
  .gestionar-movimientos .datos-cupon .datos {
    display: inline-block;
    width: 100%;
    vertical-align: top; }
  .gestionar-movimientos .datos-cupon .info {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: left;
    font-size: 12px; }
  .lista-movimientos ul li h3, .lista-cupones ul li h3 {
    margin-top: 0 !important;
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    margin-bottom: 0; }
  .lista-movimientos ul li .dato-movimiento .number, .lista-cupones ul li .importe-actual .number {
    font-weight: 600;
    font-size: 19px; }
  .info-cupon {
    padding: 10px !important;
    background-color: white;
    margin: 20px 0 10px;
    border-bottom: 2px solid #ccc; }
  .info-cupon .nombre-cliente {
    font-size: 18px;
    margin-bottom: 20px; }
  .seccion {
    margin-top: 0px; }
  .lista-movimientos ul li, .lista-cupones ul li {
    padding: 10px;
    margin: 0; }
  .gestionar-movimientos .datos-cupon h2 {
    font-size: 16px;
    margin-top: 0;
    line-height: 1.5; }
  .avatar {
    display: none; }
  .vista {
    text-align: left;
    padding-right: 0 !important; }
  .datosclientes .btn.search,
  #nuevo-cupon .btn.search {
    width: 40px;
    height: 40px;
    overflow: hidden;
    font-size: 0px !important;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: 20px;
    padding: 0 !important; }
  .btn.gestionar-movimientos {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #304556;
    margin-top: 15px !important; } }
